* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full Screen */
@media only screen and (min-width: 1200px) {
    .home-text {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
        margin-left: 150px !important;
        margin-right: 150px !important;
    }
    
    .home-text li {
        margin-left: 180px !important;
    }
    
    .about-text {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    
    .about-text p, .about-text h2, .about-text h4 {
        margin-left: 150px !important;
        margin-right: 150px !important;
    }
    
    .about-image {
        margin-top: 40px !important;
        margin-bottom: 30px !important;
        padding-left: 150px !important;
        padding-right: 150px !important;
        display: grid;
        grid-template: auto auto auto auto auto / 1fr;
        grid-column-gap: 0px;
        align-content: center;
        text-align: center;
    }
    
    .about-image-item img {
        width: 900px !important;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) and (max-width: 1199px) {
    .home-text {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
    
    .home-text li {
        margin-left: 150px !important;
    }
    
    .about-text {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    
    .about-text p, .about-text h2, .about-text h4 {
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
    
    .about-image {
        margin-top: 30px !important;
        margin-bottom: 20px !important;
        padding-left: 120px !important;
        padding-right: 120px !important;
        display: grid;
        grid-template: auto auto auto auto auto / 1fr;
        grid-column-gap: 0px;
        align-content: center;
        text-align: center;
    }
    
    .about-image-item img {
        width: 700px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Menu */
.bg-light {
    background-color: #54b6dd !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2081C3;
}
  
.navbar-light .navbar-nav .nav-link {
    color: #1a6394;
}

.navbar-collapse .navbar-text {
    float: right;
    margin-left: 25px;
}
/* End Menu */

/* Html Boy Stuff */
.html-boy-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.html-boy {
    width: 400px;
    height: 700px;
    background-color: #c2c5cc;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 100px;
    align-self: center;
    position: relative;
    color: #373d61;
}

.html-boy-screen-area {
    width: 360px;
    height: 300px;
    background-color: #636177;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 80px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    position: absolute;
    align-self: center;
}

.html-boy-screen {
    width: 250px;
    height: 250px;
    background-color: #8bac0f;
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 25px;
    position: absolute;
    align-self: center;
}

.html-boy-screen > p {
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.html-boy-screen-text {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    text-align: center;
}

.html-boy-screen-pixels {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    align-content: center;
    position: absolute;
}

.html-boy-pixel {
    width: 50px;
    height: 50px;
    background-color: #306230;
}

.pixel-1 {
    background-color:#9bbc0f !important;
}

.pixel-2 {
    background-color:#8bac0f !important;
}

.pixel-3 {
    background-color:#306230 !important;
}

.pixel-4 {
    background-color:#0f380f !important;
}

.html-boy-text {
    position: absolute;
    padding-top: 340px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: small;
}

.button-text {
    transform: rotate(-45deg);
    align-content: flex-end;
    vertical-align: middle;
}

#html-boy-title {
    font-weight: bold;
    font-size: medium;
}

.html-boy-button-grid {
    padding-top: 420px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    align-content: center;
    position: absolute;
}

.html-boy-button-grid a:hover {
    filter:brightness(75%);
}

.button-unit {
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
}

.button-unit-fifth {
    width: 50px;
    height: 25px;
    align-content: center;
}

.dpad {
    background-color: #414141;
}

.up {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.down {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.i-button {
    background-color: #922222;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.r-button {
    background-color: #757575;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 12px;
}
/* End Html Boy Stuff */

.footer {
    display: flex;
    justify-content: center;
}
  
.footer-item {
    font-size:small;
    color: #1a6394;
    height: 50px;
    text-align: center;
}

body {
    background-color: #d3f1ff;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: #2b304b;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-text {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.home-text li {
    margin-left: 60px;
}

.about-text {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-text p, .about-text h2, .about-text h4 {
    margin-left: 30px;
    margin-right: 30px;
}

.about-image {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr;
    grid-column-gap: 0px;
    align-content: center;
    text-align: center;
}

.about-image-item img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.about-image-item h6 {
    font-size: small;
    font-style: italic;
}